.bold {
    font-weight: bold;
}
body {
    margin: 0;
}
.parent {
    margin: 0 auto;
    width: 1300px;
    font-family: Arial, serif;
}
div.nav {
    display: inline-block;
    float: right;
}
div.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
div.nav li {
    float: left;
    display: block;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
div.nav li a {
    text-decoration: none;
}
div.nav li:hover {
    background-color: rgb(97,43,103);
}
div.nav li:hover a {
    color: white;
}
div.nav li.appointment {
    background-color: rgb(255,185,0);
    padding-right: 60px;
    padding-left: 60px;
    margin-left: 40px;
}
.logo {
    margin-top: 12px;
    margin-left: 70px;
    margin-bottom: 10px;
}
div img.dog-pic {
    width: 100%;
    display: block;
}
div.text-on-pic {
    position: absolute;
    width: 30%;
    background-color: rgba(0, 255, 255, 0.3);
    color: white;
    padding: 60px;
    top: 255px;
    left: 110px;
}
.schedule-text {
    color: rgb(52, 52, 52);
    background-color: rgb(255, 200, 0);
    padding: 15px;
}
div.pic-after-header {
    position: relative;
}
div.purple-box {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 65px;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: rgb(90, 40, 91);
}
p.lorem-paragraph {
    padding: 40px;
    line-height: 2;
}